* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Baskerville', serif;
  color: rgb(83, 66, 17);
}

h1, h2 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

h2 {
  color: rgb(83, 66, 17);
  margin-bottom: 2%;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  color: rgb(83, 66, 17);
}

a:hover {
  color: rgb(173, 155, 103);
  text-decoration: none;
}

/* Utilities */
.bg-gold {
  background-color: rgb(133, 117, 70);
  color: rgb(212, 197, 152);
}

.category {
  text-align: center;
  padding: 5% 0;
}

.img-fluid {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

/* Navbar */
#navbarLinks .nav-link {
  color: rgb(83, 66, 17);
}

#navbarLinks .nav-link:hover {
  color: rgb(173, 155, 103);
}

.navbar.scrolled {
  background: rgb(212, 197, 152);
  transition: background 500ms;
}

/* Header */
.header {
  height: 80vh;
  min-width: 100%;
  text-align: center;
  position: relative;
}

.header-img {
  position: absolute;
  top: 0;
  min-width: 80%;
  width: 100%;
  height: 100%;
  background-image: 
  radial-gradient(
      circle,
      rgba(133, 117, 70, 0.9),
      rgba(212, 197, 152, 0.9)),       
    url(/img/Kusina19.jpg);
  background-position: top;
  background-size: cover;
  clip-path: circle(33% at 50% 50%);
  z-index: -1;
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8rem;
}

.title-primary {
  font-size: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 3s;
}

.title-sub {
  color: rgb(212, 197, 152);
  font-size: 1.2rem;
  animation-name: moveInTop;
  animation-duration: 4s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* About */
.about-text {
  text-align: center;
}

/* Menu */
.card {
  border: none;
}

.card-body {
  padding: 0;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  padding: 2% 0;
}

/* Testimonials */
.testimonial-text {
  padding: 2% 0;
}

.testimonial-text p{
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.testimonial-text em {
  color: rgb(173, 155, 103);
}

/* Events */
.carousel-item img{
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

/* Info Bottom */
.logo {
  object-fit: cover;
  max-height: 80%;
  width: 100%;
  max-width: 70%;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.5rem;
  padding: 2%;
}

.footer p {
  display: inline-block;
  margin: 0 10px;
}


@media (max-width: 767px) {
  /* Navbar */
  .navbar {
    background-color: #fff;
  }

  .nav-link {
    text-align: center;
  }

  /* Header */
  .header {
    height: 80vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    margin-top: 57px;
  }
}

@media (min-width: 992px) {
  .title-sub {
    font-size: 1.5rem;
  }

  .header-img {
    clip-path: circle(30% at 50% 50%);
  }
}